// Update the colors for this demo
body {
	--color-bg: #111;
	text-align: center;
}
.logo-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 37%;

	width: auto;
	display: inline-block;
	margin: auto;
}